<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">airbothy</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="col-xs-6">
        <sebm-google-map
            [latitude]="lat"
            [longitude]="lng"
            (centerChange)="onHandle($event)">
            >
        </sebm-google-map>
    </div>
    <div class="col-xs-6">
        results: {{this.iQueryLocation.lat}}, {{this.iQueryLocation.lng}}
    </div>
</div>
