<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">airbothy</a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="col-xs-6">
        <app-map
        [markerResults]="aResults"
        (boundsChanged)="onBoundsChanged($event)"
        (idle)="onMapIdle($event)"
        (markerClick)=onMarkerClick($event)
        ></app-map>
    </div>
    <div class="col-xs-6">
        <div id="bothy-results">
            <div *ngFor="let bothy of aResults; let iResultIndex = index;" class="bothy-result link" (click)="onViewBothy(iResultIndex)">
                <img [src]="bothyPic(iResultIndex)" >
                <br>
                {{bothy.name}}
            </div>
        </div>
        <div id="results-info">
            <span *ngIf="iResults == 0">no results</span>
        </div>
    </div>
</div>


<modal
    #bothyModal
    (onClose)="onModalClose()"
    (onDismiss)="onModalClose()"
    >
    <modal-header [show-close]="false">
        <h4 class="modal-title" *ngIf="iSelected != null">{{aResults[iSelected].name}}</h4>
    </modal-header>
    <modal-body>
        <div *ngIf="iSelected != null">
            <div>
                <img [src]="bothyPic(iSelected)" id="modal-bothy-pic" >
            </div>
            {{aResults[iSelected].region}} - {{aResults[iSelected].gridref}}<br>
            <p>{{aResults[iSelected].description}}</p><br>
            {{aResults[iSelected].latitude}}, {{aResults[iSelected].longitude}}<br>
            <div class="clearfix">
                <div *ngFor="let thumb of allBothyPics(iSelected);">
                    <img [src]="thumb" class="modal-thumb">
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
