<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">airbothy</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="link" (click)="mdlAbout.open()">about</a></li>
        </ul>

    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id="map-thumbs-container">
    <div id="map-half" class="halfs">
        <app-map
        [markerResults]="aResults"
        (boundsChanged)="onBoundsChanged($event)"
        (idle)="onMapIdle($event)"
        (markerClick)=onMarkerClick($event)
        ></app-map>
    </div>
    <div id="thumbs-half" class="halfs">
        <div id="bothy-results">
            <div *ngFor="let bothy of aResults; let iResultIndex = index;" class="bothy-result link" (click)="onViewBothy(iResultIndex)">
                <img [src]="bothyPic(iResultIndex)" >
                <br>
                {{bothy.name}}
            </div>
        </div>
        <div id="results-info">
            <span *ngIf="iResults == 0">no results</span>
        </div>
    </div>
</div>


<modal
    #bothyModal
    (onClose)="onModalClose()"
    (onDismiss)="onModalClose()"
    >
    <modal-header [show-close]="true">
        <h4 class="modal-title" *ngIf="iSelected != null">{{aResults[iSelected].name}}</h4>
    </modal-header>
    <modal-body>
        <div *ngIf="iSelected != null">
            <div>
                <img [src]="sMainModalImage" id="modal-bothy-pic" >
            </div>
            <br/>
            <strong>{{aResults[iSelected].region}} - {{aResults[iSelected].gridref}}</strong>
            <br>
            <p>{{aResults[iSelected].description}}</p><br>
            <i class="glyphicon glyphicon-map-marker"></i> {{aResults[iSelected].latitude}}, {{aResults[iSelected].longitude}}: <a target="_blank" href="https://osmaps.ordnancesurvey.co.uk/osmaps/{{aResults[iSelected].latitude}},{{aResults[iSelected].longitude}},17">os map</a> <a target="_blank" href="https://www.google.com/maps/preview/@{{aResults[iSelected].latitude}},{{aResults[iSelected].longitude}},17z">google map</a><br>
            View on MBA site: <a href="http://www.mountainbothies.org.uk/bothy-details.asp?bothy_id={{aResults[iSelected].bothy_id}}" target="_blank">http://www.mountainbothies.org.uk/bothy-details.asp?bothy_id={{aResults[iSelected].bothy_id}}</a><br/>
            <div class="clearfix">
                <a class="link" *ngFor="let thumb of allBothyPics(iSelected); let i = index;" (click)="setMainBothyModalPic(i)">
                    <img [src]="thumb" class="modal-thumb">
                </a>
            </div>
        </div>
    </modal-body>
    <modal-footer id="bothy-modal-footer"

    >
        <button type="button" class="btn btn-primary" (click)="onModalClickClose()">Close</button>
    </modal-footer>
</modal>

<modal #mdlAbout>
    <modal-header [show-close]="true">
        <h4 class="modal-title">About airbothy</h4>
    </modal-header>
    <modal-body>
        <p>
            Bothies are great, and although <a href="http://www.mountainbothies.org.uk/" target="_blank">Mountian bothy Association</a> have a great website with lots of information, I wanted to see all the bothies on a map at once, and explore where they are a bit more easily, so I made this simple site.
        </p>

        <p>Contact me via twitter if you need to: <a href="https://twitter.com/samt_st" target="_blank">https://twitter.com/samt_st</a>
        </p>
        <p>
            If you're interested, the scraper to get the bothies from MBA is here: <a href="https://github.com/samthomson/mbascraper" target="_blank">https://github.com/samthomson/mbascraper</a>
            and this site is here: <a href="https://github.com/samthomson/airbothy" target="_blank">https://github.com/samthomson/airbothy</a>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary" (click)="mdlAbout.close()">Close</button>
    </modal-footer>
</modal>
